.container {
	width: 1200px;
	height: 1200px;
	margin: 0 auto;
}
.red-top {
	height: 100px;
	margin-bottom: 15px;
	background: rgb(230, 46, 37);
}
.blue {
	width: 800px;
	height: 648.50px;
	float: left;
	padding: 15px;
	margin-bottom: 20px;
	background: rgb(60, 174, 240);
}
.orange {
	width: 407.5px;
	height: 648.5px;
	float: left;
	background: rgb(231, 78, 37);
}
.yellow {
	width: 340px;
	height: 648.50px;
	padding: 15px;
	float: left;
	background: rgb(250, 249, 40);
}
.inYellow{
	width: 170px;
	height: 648.75px;
	float: left;
}
.purple {
	background: rgb(118, 103, 174);
}
.green {
	background: rgb(74, 175, 57);
}
.pink {
	height: 296.5px;
	clear: both;
	padding: 15px;
	background: rgb(235, 127, 180);
	margin-bottom: 20px;
}
.inPink{
	height:296.50;
	width: 585;
	float: left;
}
.purpleInPink {
	background: rgb(118, 103, 174);
}
.greenInPink {
	background: green;
}
.red-bottom {
	clear: both;
	height: 100px;
	background: rgb(230, 46, 37);
}