.container {

	height: 1000px;
	width: 900px;
	margin: 0 auto;
}

.red-top {

	height: 100px;
	width: 900px;
	margin-bottom: 20px;
	background: rgb(230, 46, 37);
}

.babyb {

	float: left;
	height: 720px;
	width: 560px;
	padding: 20px;
	margin-bottom: 20px;
	background: rgb(60, 174, 240);
}

.inBlueTop {

	float: left;
	height: 360px;
	width: 186.67px;
}

.purple {
	
	background: rgb(118, 103, 174);
}

.orange {

	background: rgb(231, 78, 37);
}

.green {
	
	background: rgb(74, 175, 57);
}

.pink {

	margin-top: 20px;
	float: left;
	height: 340px;
	width: 560px;
	background: rgb(235, 127, 180);
}

.yellow {

	float:right;
	width: 300px;
	height: 760px;
	background: rgb(250, 249, 40);
}

.red-bottom {

	clear: left;
	width: 900px;
	height: 100px;
	background: rgb(230, 46, 37);
}